<!DOCTYPE html>
  <html>
    <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link rel="stylesheet" href="action_button.css"/>
    </head>
    <body style="text-align:center";>
      <form>
        <fieldset>
        <div>
          <legend>My To Do List</legend>
          <input type="text" name="" value="" id="todo-input" placeholder="Task...">
          <button type="button" name="button" id="add-button">Add Task</button>
        </div>
        </fieldset>
        <div>
        <ul id="todo-list">


        </ul>
        </div>
      </form>
      <script src="button.js"></script>
    </body>
  </html>
